
.CounterPrompt{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;

}

.CurrentCount{
  display: block;
	width: 100%;
	padding: 10px 0px;
	appearance: none ;
	border: none;
  color: white;
	background-color: #2c2b2b;
	margin-top: 15px;
	font-size: 30px;
	outline: none;
  text-align: center;
}

.Button {
  display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #00a2ff;
	color: rgb(255, 255, 255);
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
  }

